form {
  width: 100%;
  max-width: 400px;
  text-align: center;
  border: solid 1px #dddddd;
  padding-bottom: 3px;
  margin: auto;
  background: #353535;
}
input[type=textfield] {
    width: 90%;
    padding: 16px 3px;
    font-size: 32px;
    margin: 18px 0;
    border: 1px #353535;
    border-radius: 1px;
    text-align: right;
    color: #fff;
    background: #353535;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: #101010;
    border: none;
    color: white;
    padding: 10px;
    font-size: 26px;
    min-width: 23.2%;
    text-decoration: none;
    margin: 1px 1px;
    cursor: pointer;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  background-color: #333;
}
